{% extends 'base.html' %}
{% load static %}
{% block title %} Blue Lock | Level 2 {% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/level_2.css' %}">
{% endblock %}

{% block content %}

<div class="cards-container">
  <div class="card" onclick="flipCard(this)">
    <div class="card-front">
      <h1>N</h1>
    </div>
    <div class="card-back" id="B1">
    </div>
  </div>
  <div class="card" onclick="flipCard(this)">
    <div class="card-front">
      <h1>D</h1>
    </div>
    <div class="card-back" id="B2">
    </div>
  </div>
</div>
<div class="container">
  <form action="" method="POST" id="myform">
    {% csrf_token %}
    <input type="text" id="answer" class="input-field" placeholder="Word" name="team_name" required>
    <input type="hidden" value="no" id="bool" name="bool">
    
  </form>
    <!-- Button trigger modal -->
    <button class="start-button" name="submit1"  id="enter" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      SUBMIT
      <i class="fa-solid fa-circle-check"></i>
    </button>
  
</div>
{% endblock %}
{% block typing %}
{% endblock %}
{% block hint %}
{% endblock %}
{% block modal %}
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">INCORRECT!!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        You will get new N and D on pressing try again !
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="bt" data-bs-dismiss="modal" name="submit2">Try Again</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'js/level_2.js' %}"></script>
{% endblock %}